/** GLOBAL THEME **/

/* Whole document */
body { letter-spacing: 0.5px; margin: 0; padding: 0; background: rgba(239,234,222,0.2); }
    
    /* cover */
    .header { background: url('background.png') no-repeat center center; 
              height: 350px; width: 100%; }                               /* size        */
              
    /* navigation bar */
    .navbar { padding: 10px; text-align: right;                           /* text        */
              background: rgba(0,0,0,0.5); }                            /* background  */

    /* links of the navbar */
    .navbar a { padding: 10px; text-decoration: none; font-weight: bold;  /* text        */
                color: rgba(239,234,222,1); }

    /* title of the page */
    .title { font-size: 80px; color: #000; font-family: Georgia;        /* font        */
             margin-top: 70px; text-align: center; }                      /* location    */
    
    /* subtitle of the page */
    .subtitle { font-size: 32px; color: #000; font-family: Georgia;     /* font        */
        margin-top: 10px; text-align: center; }                           /* location    */

    /* main block */
    .main { padding-top: 40px;                                            /* location    */
            box-sizing: border-box; flex-wrap: wrap; flex-grow: 1;
            margin: auto; margin-right: auto; 
            margin: auto}                                                 /* size        */

    /* textual block */
    .info { font-size: 20px;                                              /* font        */
            margin-top: 10px; text-align: justify; width: 100%; }         /* location    */

    /* home - picture */
    .profile { float: left; margin-right: 100px; margin-top: 10px;        /* location    */
               margin-bottom: 40px; margin-right: 40px; flex: 0 0 auto;  
               max-width: 500px; height: auto; }                              /* size        */

    /* home - textual block */
    .info_home { font-size: 20px;                                         /* font        */
                 margin-top: 10px; margin-left: auto; float: left;
                 text-align: justify; flex: 1;                            /* location    */
                 min-width: 30%; max-width: 500px }                                            /* size        */

    /* documents */
    .doc { margin-top: 0px; text-align: justify; }

    /* footer */
    .footer { padding: 50px; margin-top:50px;                            /* location    */      
              background: rgba(46, 94, 79, 0.5);                       /* background  */
              height: 50px ; width: 100%; }                              /* size        */

/* Links */
a { color: #000; text-decoration: underline }

/* Smaller screens */
@media (max-width: 1400px) {
    
    .header {flex: 1 auto;}

    .main{ width: 50%; flex-direction: column; min-height: 100vh; }

    .profile,
    .info_home { 
      flex-basis: 100%; 
      max-width: 100%; }
  }

  /* Tablet screens */
  @media (min-width: 1401px) and (max-width: 1600px) {
    
    .main { max-width: 80%; ; min-height: 60vh; }

    .profile { flex-basis: 50%; 
               max-width: 40%;
               max-height: 40%; }
    
    .info_home { flex-basis: 50%; 
                 max-width: 40%; }
}

/* Bigger screens */
@media (min-width: 1601px) {
    
    .main{ max-width: 70%; ; min-height: 60vh; }
    
    .profile { flex-basis: 50%; 
               max-width: 40%;
               max-height: 40%; }
    
    .info_home { flex-basis: 50%; 
                 max-width: 40%; }
}