/** GLOBAL THEME **/

:root {
    --primary-text-color: #fa0404;
    --body-font: 'Georgia', serif;
    --body-font-size: 20px;
    --title-font: Georgia;
    --body-color: #313131;
    --link-color: rgb(68, 125, 190); 
    --theme-color: rgb(164, 178, 161); /*rgb(166, 177, 166)*/
    --theme-color-dark: rgb(111, 146, 135);
    --light-color: rgba(239,234,222,1);
    --noscript-color: rgba(228,212,183);
    --money-color-light: rgba(147,152,118);
    --money-color-dark: rgba(89,106,81);
    --navbar-color: rgb(60,58,56); /* rgba(83, 81, 77); */
    --title-bar: 530px;
    --burger-size: 30px;
    --burger-thickness: 3px;
}


/* Whole document */
html { 
  height: 100%; 
  background-color: var(--navbar-color);                  /* color for overscrolling above */
}


/* BODY OF THE DOCUMENT */
body { 
  font-family: var(--body-font); 
  font-size: var(--body-font-size);          
  letter-spacing: 0.5px; 
  margin: 0; 
  padding: 0;                  
  min-height: 100vh; /* 100% */ 
  display: flex; 
  flex-direction: column;
}

body::after {
  content: "";
  position: fixed;
  top: 50vh;
  left: 0;
  width: 100%;
  min-height: 50vh;
  background: var(--theme-color);                            /* color for overscrolling below */
  z-index: -1;
  pointer-events: none;
}


    /* Page wrap */
    .page-wrap {
        background: rgba(250,247,242,1);
        padding-bottom: 60px;
      }    
    
    /* cover */
    .header { 
      background: url('/img/background.avif') no-repeat center center; 
      background-repeat: repeat-y;
      background-size: 100% auto;
      height: 350px; 
      width: 100%; 
    }                                             
              
    /* site name */
    .site { 
      font-family: var(--title-font);                                   
      color: var(--light-color); 
      font-size: 28px;
      z-index: 1000;                                                     /* on top     */
      position: fixed; 
      padding: 8px; 
      padding-left: 12px;
    }
      
    /* toggle for smaller screens */
    .burger {
      display: none;                                                     /* hidden by default */
      }

    /* navigation bar */
    .navbar { 
      padding: 0px;                                                     
      text-align: right; 
      position: fixed;                                                    
      top: 0;
      min-height: 50px ;
      width: 100%;                                                     /* above most classes */
      overflow: hidden;
      background: rgba(0,0,0,0.75);                                   /* background  */
    }
    
        /* link bar */  
        .navbar-link #my-links {
          display: none;
        }
        
        /* links of the navbar */
        .navbar-link { 
          text-decoration: none;
          text-align: center; 
          color: var(--light-color);             
          font-size: 20px;
          padding: 10px 10px; 
          display: inline-block;                                         
          justify-content: flex-end;                                     /* flushing left */
          position: relative;
          cursor: pointer;
          overflow: hidden;
          margin: 0 8px;
        }  
        
        /* underline for hoovered button */
        .label{
          position: relative;
          display: inline-block;
        }

        .label::before {
          content: "";
          position: absolute;
          width: 0;
          background : var(--theme-color);
          left: 50%;
          height: 5px;
          bottom: -7px;
          transition: all .2s;
          opacity: 1;
        }

        .label:hover::before {
          width: calc(100% + 20px);
          left: -10px;
        }

        /* indicator of current section */
        .navbar-link.navbar-active { 
          position: relative;
          background: linear-gradient(to bottom,
            rgb(0,0,0,0) 0%,
            rgb(0,0,0,0) 15%,
            var(--light-color) 15%,
            var(--light-color) 85%,
            rgb(0,0,0,0) 85%);
          background-position: center;
          color: var(--navbar-color);
        }

    /* sub-bar */
    .line {
      background: var(--theme-color);                           
      height: 10px ; 
      width: 100%; 
    }   

    /* title of the page */
    .title { 
      font-size: 80px; 
      color: #000; 
      font-family: var(--title-font);      
      margin-top: 110px; 
      text-align: center; 
    }   
    
    /* title underscore */
    .title-line {
      height: 2px; 
      width: var(--title-bar); 
      border: rgb(0,0,0); 
      background-color: rgb(0,0,0)
    }
    
    /* subtitle of the page */
    .subtitle { 
      font-size: 32px; 
      color: #000; 
      font-family: var(--title-font);   
      margin-top: 10px; 
      text-align: center; 
    }                           

    /* main block */
    .main { 
      padding-top: 40px;                                                    
      min-height: 52vh;
      box-sizing: border-box; 
      flex-wrap: wrap; 
      flex-grow: 1;
      margin: auto; 
      margin-right: auto; 
    }                                 

        /* textual block */
        .info { 
          margin-top: 10px; 
          text-align: justify; 
          width: 100%; 
        }               
          

        /* home - picture */
        .profile { 
          float: left; 
          margin-right: 100px; 
          margin-top: 10px;               
          margin-bottom: 40px; 
          margin-right: 60px; 
          flex: 0 0 auto;  
          max-width: 500px; 
          height: auto; 
          border-radius: 5%;
        }                                       

        /* home - textual block */
        .info-home { 
          margin-top: 10px; 
          margin-left: auto; 
          float: left;               
          text-align: justify; 
          flex: 1;                     
          min-width: 30%; 
          max-width: 500px; 
        }                             

        /* in-page documents */
        .doc { 
          margin: auto; 
          margin-right: auto;                                     
          box-sizing: border-box; 
          flex-wrap: wrap; 
          flex-grow: 1;
          width: 100%; 
          margin-bottom: -50px; 
        } 
        
        /* cv frame */
        .cv-frame { 
          width: 100%; 
          height: 100vh; 
          margin: auto; 
        }

    /* footer */
    .footer { 
      padding-top: 40px; 
      margin-top:0px;                                      
      background: var(--theme-color);                                    
      position: relative;
      height: 150px ; 
      width: 100%; 
      overflow: hidden;                     
      color: var(--light-color); 
      font-size: var(--body-font-size); 
    }     
              
        .footer::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 300px;                                      /* not too big! just enough for bounce */
          background: var(--theme-color);
          pointer-events: none;
        }

        /* footer bar */
        .footer-bar { 
          width: 90%; 
          text-align: center; 
          margin: auto;
          display: grid; 
          grid-template-columns: 1fr 370px 1fr; 
        }

        /* footer bar icons */
        .footer-bar a img { 
          margin: 10px;
          margin-top: -8px; 
          text-align: center;                        
          width: 40px; 
          height: auto; 
          display: inline-block;
          transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          will-change: transform; 
        }

        /* animation for social network icons */
        .footer-bar a:hover img {
          transform: scale(1.4) translateY(-3px);
        }
     
    /* markdown font */
    .markdown-font { 
      font-family: var(--body-font);
      color: var(--body-color); 
      font-size: var(--body-font-size); 
    }

    /* no javascript message */
    .noscript-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      min-height: 100vh;
      overflow: hidden;
      background-color: var(--light-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.5rem;
      padding-bottom: 4rem;
      box-sizing: border-box;
      z-index: 9999;

      h1 {
      color: var(--money-color-dark);
      text-align: center;
      }

      /* footer logo */
      .footer.bar {
        position:relative; 
        bottom: 500px;
        padding: 5px; 
        clear: both
      }

      /* mobile page */
      @media (max-width: 800px) {
        .profile {
          margin-top: -100px;
        }

        .info-home {
          margin-bottom: 100px;
        }
      }

      /* tablet screens */
      @media (min-width: 801px) and (max-width: 1600px) {
        
        .profile { 
          padding-top: calc(200px - 5vw); 
        }

        .info-home {
          padding-top: 8vw;
        }

      }

      /* bigger screens */
      @media (min-width: 1601px) {
        
        .info-home {
          padding-top: 5.5vw;
        }
      }
    }

/* Links */
a { 
  color: var(--link-color); 
  text-decoration: underline;
 }

iframe {
  overflow: hidden;
  border: none;
}


/* MEDIA QUERIES */

/* Mobile page */
@media (max-width: 800px) {
    
    .header {
      flex: 1 auto; 
      max-height: 350px;
    }

    .site{ 
      font-size: 28px; 
      padding: 8px; 
      padding-left: 12px; 
    }
    
    /* burger menu */
    .burger {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      justify-content: space-between;
      width: var(--burger-size);
      height: var(--burger-size);
      padding: 10px;
      cursor: pointer;
      overflow: hidden;
      transition: all 0.25s;
    }

        .burger span {
          width: 100%;
          height: var(--burger-thickness);
          background-color: var(--light-color);
          transition: all 0.25s;
        }
    
        #my-links {
          display: none;                                        /* hiding by default    */ 
        } 

        /* when the checkbox is checked, show links */
        #menu-toggle:checked ~ #my-links {
          display: block;
        }

        /* animating the burger menu button */
        #menu-toggle:checked + .burger {
          transform: rotate(360deg);
        }
      
        #menu-toggle:checked + .burger span {
          background-color: var(--light-color);
        }
      
        #menu-toggle:checked + .burger span:nth-child(1) {
          transform: translateY(calc(var(--burger-size) / 2 - var(--burger-thickness))) rotate(45deg);
        }
        #menu-toggle:checked + .burger span:nth-child(2) {
          opacity: 0;
        }
        #menu-toggle:checked + .burger span:nth-child(3) {
          transform: translateY(calc(-1 * var(--burger-size) / 2)) rotate(-45deg);
        }
    
    .navbar-link { 
      gap: 16px;
      padding: 8px;
      font-size: 24px;
      margin-right: 12px;
      display: block;
      text-align: right;
      }  

      .label::before {
        transition: all .05s;                                   /* making animation snapier */
      }

      .navbar-link.navbar-active { 
        display: inline-block;
        }   

    .title {
      font-size: clamp(30px,13.8vw,60px);
       
      padding-top: 40px; 
    }

    .subtitle {
      font-size: clamp(10px,5vw,22px);
    }

    .main{ 
      width: 70%; 
      flex-direction: column; 
      min-height: 52vh; 
    }  
    
    .profile,
    .info-home { 
      flex-basis: 100%; 
      max-width: 100%;
    }

    .footer-bar { 
      width: 90%; 
      grid-template-columns: 1fr 250px 1fr;
    }

    .footer-bar a img { 
      margin: 5px;
      margin-top: -3px; 
      width: 30px; 
    }

    :root {
      --title-bar: clamp(115px,81vw,350px);
      --body-font-size: 16px;
    }

  }

  /* Tablet screens */
  @media (min-width: 801px) and (max-width: 1600px) {
    
    .main { 
      max-width: 80%; 
    } 

    /* link bar */  
    .navbar-link #my-links {
      display: flex;
      flex-direction: row;
    }

    .profile { 
      flex-basis: 50%; 
      max-width: 40%; 
      max-height: 40%; 
    }
    
    .info-home { 
      flex-basis: 50%; 
      max-width: 40%; 
    }

    :root {
      --body-font-size: 18px;
  }
}

/* Bigger screens */
@media (min-width: 1601px) {
    
    .main{ 
      max-width: 70%; 
    } 

    .navbar-link #my-links {
      display: flex;
      flex-direction: row;
    }
    
    .profile { 
      flex-basis: 50%; 
      max-width: 40%;
      max-height: 50%; 
    }
    
    .info-home {
      flex-basis: 50%; 
      max-width: 50%; 
    }
}
